vpcs:
  main:
    name: ${vpc_name}
    cidr: "10.0.0.0/16"
    region: ${region}

    subnets:
      application-a:
        cidr_blocks:
          - "10.0.1.0/24"
        public: false
        azs: "a"
      application-b:
        cidr_blocks:
          - "10.0.2.0/24"
        public: false
        azs: "b"
      network-appliance-a:
        cidr_blocks:
          - "10.0.3.0/24"
        public: true
        azs: "a"
      network-appliance-b:
        cidr_blocks:
          - "10.0.4.0/24"
        public: true
        azs: "b"

    nat_gateway_enabled: false
    application_gateway_enabled: false

eks:
  main:
    name: "${eks_name}"
    region: ${region}
    alb_ingress_controller_enabled: true
    cluster_version: "1.31"
    vpc_config:
      enable_nat_gateway: true
      endpoint_public_access: true
      vpc_name: "${vpc_name}"
      control_plane_subnet_names:
        - "network-appliance-a"
        - "network-appliance-b"
      node_groups_subnet_names:
        - "application-a"
        - "application-b"

    nodegroups:
      frontend:
        desired_capacity: 1
        max_capacity: 1
        min_capacity: 1
        disk_size: 20
        instance_types:
          - "t3.medium"
      backend:
        desired_capacity: 1
        max_capacity: 1
        min_capacity: 1
        disk_size: 20
        instance_types:
          - "t3.medium"
