vpcs:
  main:
    name: ${vpc_name}
    cidr: "10.0.0.0/16"
    region: ${region}

    subnets:
      application-a:
        cidr_blocks:
          - "10.0.1.0/24"
        public: false
        azs: "a"

      application-b:
        cidr_blocks:
          - "10.0.2.0/24"
        public: false
        azs: "b"

      network-appliance-a:
        cidr_blocks:
          - "10.0.3.0/24"
        public: true
        azs: "a"

      network-appliance-b:
        cidr_blocks:
          - "10.0.4.0/24"
        public: true
        azs: "b"

    nat_gateway_enabled: false
    application_gateway_enabled: false

eks:
  main:
    name: "${eks_name}"
    region: ${region}
    cluster_version: "1.33"
    auto_mode: false
    extend_max_pods_with_prefix_delegates: true

    alb_ingress_controller:
      enabled: true
      iam_policy: "https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.13.3/docs/install/iam_policy.json"

    add_ons:
      prerequisites:
        - kube-proxy
        - coredns
        - eks-pod-identity-agent
      no_iam:
        - metrics-server
      need_iam:
        - aws-ebs-csi-driver

    vpc_config:
      endpoint_public_access: true

      # OVERRIDED by 'terragrunt.hcl' in parent folder
      control_plane_subnet_: []
      node_groups_subnet_ids: []

      # OVERRIDED by 'terragrunt.hcl' in parent folder
      nat_gateway:
        enabled: true
        subnet_id: ""

    nodegroups:
      frontend:
        desired_capacity: 1
        max_capacity: 1
        min_capacity: 1
        disk_size: 50
        instance_types:
          - "t3.medium"

      backend:
        desired_capacity: 1
        max_capacity: 1
        min_capacity: 1
        disk_size: 50
        instance_types:
          - "t3.medium"

    pod_identity_oss:
      velero:
        enabled: true
        service_account: velero-pod-identity
        namespace: velero
