deployment_list:
  main:
    argocd_deploy:
      k8s_cluster_info:
        name: ${k8s_cluster_name}
        region: ${region}
        platform: aws
        resource_group: ""

      install_kubectl: true
      install_argocd_cli: true
      install_argocd: true

      git_repo:
        name: argocd-apps
        author: khangtictoc
        branch: main

      manifest_path_list:
        # [IMPORTANT] Vault Secret Operator Must be the first item to be deployed
        - argocd_apps/vault-secrets-operator/applications.yaml
        - argocd_apps/nginx/applications.yaml
        - argocd_apps/cert-manager/applications.yaml
        - argocd_apps/hcp-vault/applications.yaml
        - argocd_apps/jenkins/applications.yaml
        - argocd_apps/postgresql/applications.yaml
        - argocd_apps/postgresql/vault-secrets.yaml
        - argocd_apps/mongodb-sharded/applications.yaml
        - argocd_apps/mongodb-sharded/vault-secrets.yaml

      value_file_path:
        - override: true
          path: argocd_values/vault-secrets-operator/values.yaml
          parameter_sets:
            - key: .defaultVaultConnection.address
              value: dependency.hcp_vault_cluster.outputs.public_endpoint
