deployment_list:
  main:
    argocd_deploy:
      k8s_cluster_info:
        name: ${k8s_cluster_name}
        region: ${region}
        platform: "aws"
        resource_group: ""

      install_kubectl: true
      install_argocd_cli: true
      install_argocd: true
      install_vso: true

      git_repo:
        name: "argocd-apps"
        author: "khangtictoc"
        branch: "main"

      installed_apps:
        nginx:
          enabled: true
          use_vault: false
          manifest_path: "argocd_apps/nginx"
        cert-manager:
          enabled: true
          use_vault: false
          manifest_path: "argocd_apps/cert-manager"
        hcp-vault:
          enabled: true
          use_vault: false
          manifest_path: "argocd_apps/hcp-vault"
        jenkins:
          enabled: true
          use_vault: false
          manifest_path: "argocd_apps/jenkins"
        postgresql:
          enabled: true
          use_vault: true
          manifest_path: "argocd_apps/postgresql"
        mongodb-sharded:
          enabled: true
          use_vault: true
          manifest_path: "argocd_apps/mongodb-sharded"

      value_file_path:
        - override: true
          path: "argocd-values/nginx/values.yaml"
          parameter_sets:
            - key: ".defaultVaultConnection.address"
              value: ${hcp_vault_public_endpoint}
